includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        # Doctrine assigns $id via reflection — PHPStan cannot see this
        - message: '#Property App\\Entity\\.*::.*id.*is never assigned int so it can be removed from the property type#'
          path: src/Entity
